<template>
  <div>
    <p>This is the home page</p>
    <p>
      Use the nav bar above to navigate to the different applications (they will
      be automatically loaded)
    </p>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style></style>
