<template>
  <div>
    <a href="/">
      <img id="logo" alt="ufe" src="./assets/single-spa-mark-magenta.svg" />
    </a>
    <div>
      <a href="/">Home</a>&nbsp; <a href="/nonexisting">NotExisting</a>&nbsp;
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
#logo {
  height: 50px;
}
</style>
