<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <header>
    <application name="@jsedano/ufe-header"></application>
  </header>
  <main>
    <route path="/" exact="true">
      <application name="@jsedano/ufe-home"></application>
    </route>
    <route default>
      <application name="@jsedano/ufe-404"></application>
    </route>
  </main>
</single-spa-router>
